.about{
    height: 100vh;
    padding: 0% 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-heading{
    font-family: "Seymour One";
    color: #630087;
    font-size: 45px;
    margin: 0px;
}

.about-info{
    font-size: 19px;
    font-family: "Roboto Mono";
    font-weight: 700;
    color: #630087;
}

.meta-img, .meta-img-active{
    transition: all 0.3s;
    margin: 10px;
    width: 350px;
    height: 250px;
    float: right;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*border: 5px solid #AAF0FF;
    border-radius: 10px;*/
}

.meta-img-active {
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.meta-img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-links{
    text-decoration: underline;
    color: #4a8a98;
    font-weight: 900;
    display: inline-block;
}

.about-links:hover{
    cursor: pointer;
}


@media (max-width:1025px) and (min-width:645px){

    .about{
        padding: 10% 7%;
    }

    .about-heading{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .about-info{
        font-size: 15px;
    }

    .meta-img, .meta-img-active{
        width: 270px;
        height: 170px;
    }
}


@media (max-width: 645px){
    .about{
        padding: 10% 6%;
    }

    .about-heading{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .about-info{
        font-size: 12px;
    }
    
    .meta-img, .meta-img-active{
        width: 180px;
        height: 100px;
    }

}