.about{
    height: 100vh;
    padding: 10% 12%;
}

.about-cont1{
    display: flex;
}

.about-text{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.about-heading{
    font-family: "Seymour One";
    color: #630087;
    font-size: 45px;
    margin: 0px;
}

.about-info{
    font-size: 18px;
    font-family: "Roboto Mono";
    font-weight: 700;
}

.meta-img{
    width: 300px;
    border: #AAF0FF 5px solid;
    border-radius: 20px;
}

.about-cont2{
    display: flex;
    margin-top: 45px;
}

.git-img{
    width: 150px;
    border: #AAF0FF 5px solid;
    border-radius: 20px;
    margin-right: 40px;
}
