.footer{
    height: 300px;
}

.footer-line{
    border: #630087 1px solid;
    margin-left: 2%;
    margin-right: 2%;
}

.footer-cont{
    display: flex;
    align-items: center;
    margin-top: 3%;
    justify-content: center;
}

.footer-logo{
    font-size: 30px;
    color: #630087;
    font-family: "Seymour One";
    font-weight: 900;
}

.footer-nav{
    margin-left: 100px;
    margin-right: 50px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer-nav-heading, .footer-cont-heading{
    font-family: "Seymour One";
    font-size: 23px;
    color: #630087;
}

.footer-nav-text, .footer-cont-text{
    font-family: "Roboto Mono";
    font-size: 20px;
    list-style: none;
    padding-left: 0px;
    line-height: 150%;
    font-weight: 700;
    color: #630087;
}

.footer-nav-text > li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-icon{
    margin-top: 5px;
    width: 50px;
}

.footer-icon:hover{
    cursor: pointer;
}




@media (max-width:1025px) and (min-width:645px){
    .footer-line{
        margin: 0;
    }

    .footer-logo{
        display: none;
    }

    .footer-nav{
        margin-left: 0px;
    }

    .footer-nav-heading, .footer-cont-heading{
        font-size: 22px;
    }

    .footer-nav-text, .footer-cont-text{
        font-size: 18px;
    }
}


@media (max-width: 645px){

    .footer-line{
        margin: 0;
    }

    .footer-cont{
        flex-direction: column;
        align-items: normal;
        padding-left: 6%;
    }

    .footer-logo{
        display: none;
    }

    .footer-nav{
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer-nav-heading, .footer-cont-heading{
        font-size: 22px;
    }

    .footer-nav-text, .footer-cont-text{
        font-size: 18px;
    }
}