.home{
    padding: 5% 0%;
    height: 100vh;
    background-color: #AAF0FF;
    display: flex;
    align-items: center;
}

.home-cont{
    padding: 12% 12%;
}

.home-img{
    border-radius: 90%;
    width: 170px;
    height: 170px;
}

.home-text{
    line-height: 220%;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-family: "Seymour One";
}

.home-text2{
    font-size: 47px;
    color: #630087;
    margin: 0;
}

.home-text1{
    margin: 0;
    font-size: 18px;
}

.home-cont2{
    display: flex;
}

.home-icon-cont{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 20px;
}

.dev-icon{
    width: 60px;
}

.home-but{
    display: flex;
    align-items: center;
    background-color: #630087;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Seymour One";
}

.home-but:hover{
    cursor: pointer;
    opacity: 60%;
}

.arrow-icon{
    width: 28px;
    padding-left: 5px;
}


@media (max-width:1025px) and (min-width:645px){

    .home-cont{
        padding: 10% 7%;
    }

    .home-img{
        width: 200px;
        height: 200px;
    }

    .home-text{
        line-height: 230%;
    }

    .home-text2{
        font-size: 42px;
    }

    .home-text1{
        font-size: 20px;
    }

    .home-but{
        padding: 15px 15px;
        font-size: 20px;
    }

    .arrow-icon{
        width: 20px;
    }

    .dev-icon{
        width: 50px;
    }
}


@media (max-width: 645px){

    .home-cont{
        padding: 0% 0%;
        margin: 0% 6%;
    }

    .home-img{
        width: 250px;
        height: 250px;
    }

    .home-text{
        line-height: 260%;
    }

    .home-text2{
        font-size: 47px;
    }

    .home-text1{
        font-size: 25px;
    }

    .dev-icon{
        width: 50px;
        height: 50px;
    }

    .home-but{
        padding: 10px 15px;
        font-size: 25px;
    }

    .home-icon-cont{
        margin-left: 10px;
    }

    .arrow-icon{
        width: 20px;
    }
}

@media (max-width: 430px){
    .home-img{
        width: 180px;
        height: 180px;
    }

    .home-text{
        line-height: 210%;
    }

    .home-text2{
        font-size: 35px;
    }

    .home-text1{
        font-size: 19px;
    }

    .dev-icon{
        width: 30px;
        height: 30px;
    }

    .home-but{
        padding: 10px 15px;
        font-size: 16px;
    }

    .arrow-icon{
        width: 20px;
    }
}